<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app_Key</key>
	<string>9f6fc40be8be771ed6fe20f453c89f95</string>
	<key>app_Id</key>
	<string>6bb45ec9</string>
</dict>
</plist>
